select {
    font-size: 12px;
}

button {
    font-size: 12px;
}

label {
    font-size: 12px;
}

input {
    font-size: 10px;
    height: 5px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: grey;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: white;
}

.dots {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    stroke: black;
    stroke-width: 1px;
    display: inline-block;
}

.box {
    height: 15px;
    width: 15px;
    stroke: black;
    stroke-width: 1px;
    display: inline-block;
}

span {
    margin-left: 1px;
    margin-right: 1px;
}